.testimonials {
    padding: 10% 10%;
    margin: auto;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.card {
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        gap: 1rem;

    .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #a9b0bd;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }

        .info {
            h4 {
            margin: 0;
            color: #fff;
            }
            p {
            margin: 0;
            opacity: 0.6;
            font-size: 10px;
            }
        }
        }

        h3 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        }

        .desc {
        font-size: 10px;
        opacity: 0.8;
        line-height: 1.5;
        color: #fff;
        }
    }


    .daniel {
        background: hsl(263, 55%, 52%);
        grid-column: span 2;
    }

    .jonathan {
        background: hsl(217, 19%, 35%);
    }

    .kira {
        background: #fff;
        color: #333;

        .user .info h4, h3, .desc {
        color: #222 ;
        }

        grid-column: 4;
        grid-row: 1 / span 2;   
    }

    .jeanette {
        background: #fff;
        color: #333;
        .user .info h4, h3, .desc {
        color: #222;
        }
    }

    .patrick {
        background: hsl(219, 29%, 14%);
        grid-column: span 2;
    }

    @media (max-width: 450px) {
        grid-template-columns: 1fr;

        .daniel,
        .patrick,
        .kira {
        grid-column: span 1 ;
        grid-row: auto ;
        }
    }
    }
